<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfilsdocente</title>

    <link rel="stylesheet" type="text/css" media="screen" href="perfildocente.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <!--Navbar superior-->
    <nav class="navbar navbar-expand-sm" style="height: 100px; background-color:#ff7d7b;">
        <a class="navbar-brand nav-item nav-link active" href="maindocentes.html"
            style="font-size:50px; font-family: 'League Spartan', sans-serif;">
            <span style="color: white;">DOCENT</span><span style="color: black;">BLADE</span>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-right: 70px;">
                    <!--<a href="#" data-toggle="modal" data-target="#login"
                        style="font-size:30px; font-family: 'League Spartan', sans-serif; color: black;">
                        Ingresar
                    </a>
                    <span style="font-size:30px; font-family: 'League Spartan', sans-serif; color: black;"> | </span>
                    <a href="#" data-toggle="modal" data-target="#registro"
                        style="font-size:30px; font-family: 'League Spartan', sans-serif; color: black;">
                        Registrarse
                    </a>-->
                    <a style="font-size:30px; font-family: 'League Spartan', sans-serif; color: white;">Bienvendo</a><a
                        id="userWellcome"
                        style="font-size:30px; font-family: 'League Spartan', sans-serif; color: black;"></a>
                    <span style="font-size:30px; font-family: 'League Spartan', sans-serif; color: black;"> | </span>
                    <a id="logoutBtn" href="main.html"
                        style="font-size:30px; font-family: 'League Spartan', sans-serif; color: white;">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="docentPorfileDiv">
        <!--<div style="font-family: 'League Spartan', sans-serif; margin-left: 30px;">
            <h1 style="font-size:45px; color: black; margin-top: 10px;">
                Perfil del docente
            </h1>
            <div style="font-size:30px; color: black;">
                <span>Nombre: </span>
                <span style="color: gray;">Jefferson Gutierritos</span><br><br>
                <span>Materia: </span>
                <span style="color: gray;">Matemáticas</span><br><br>
                <span>Puntuación promedio: </span>
                <span style="color: gray;">7.2</span><br><br>
                <span>Recomendación promedio: </span>
                <br>
                <span> 👌 El Mejor </span><span style="color: gray;"> 50% </span>
                <span> 🚢 Capitán </span><span style="color: gray;"> 10% </span>
                <span> ☠️ Peligro </span><span style="color: gray;"> 40% </span>
                <br><br>
                <span>Comentarios: </span><br>
                <textarea name="texto" rows="4" cols="40" placeholder="Comentarios" disabled></textarea>
            </div>
        </div>-->
    </div>
    <br>

    <script src="./perfildocente_utils.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>